{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules":"commonjs",
          "targets": {
            "chrome": "67"
          },
          "useBuiltIns": "usage",
          "corejs": 2
        }
      ],
      "@babel/preset-react"
    ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
          "@babel/plugin-transform-runtime",
          {
            "absoluteRuntime": false,
            "helpers": true,
            "regenerator": true,
            "useESModules": false
          }
        ],
        "@babel/plugin-syntax-class-properties",
        ["import", {
          "libraryName":
           "antd",
          "libraryDirectory": "es",
          "style": true
        }]
      ]
  }
  