.box{
  margin-top: 50px;
}

.item{
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  width: 200px;
  font-size: 15px;
  background-color: orange;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}